<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body class="teaser_page">

  <div class="visual_section visual_1 flex alc js" style="position: relative;">
    <div class="emp_box"></div>

    <div class="visual_text">
      <div class="small_text">
        <h3>부산국제매직페스티벌</h3>
      </div>

      <div class="visual_main">
        <p><span>Lorem ipsum dolor sit amet,</span></p>
        <p><span>Neque maxime error fugiat, non,accusantium atque.</span></p>
        <p class="color bold"><span>부산국제매직페스티벌</span></p>
      </div>

      <div class="visual_line"></div>

      <h3 class="link visual_link"><a href="#">LEARN MORE</a></h3>
    </div>

    <div class="visual_slide">
      <div class="visual_img slide_1">
        <div><img src="../../resources/img/visual/5.jpg" alt="visual" title="visual"></div>
        <div><img src="../../resources/img/visual/2.jpg" alt="visual" title="visual"></div>
        <div><img src="../../resources/img/visual/4.jpg" alt="visual" title="visual"></div>
      </div>
    </div>    
  </div>

</body>
</html>