<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>빵집 순례</title>
  <link rel="stylesheet" href="resources/css/style.css">
  <script src="resources/js/jquery-3.6.0.min.js"></script>
  <script src="resources/js/app.js"></script>
</head>

<body>

  <header>

    <div class="header_top wrap flex alc">
      <a href="#">한국어</a>
      <a href="#">English</a>
      <a href="#">中文(简体))</a>
    </div>

    <div class="header_main wrap flex alc js">
      <div class="logo">
        <a href="index.html">
          <h2>대전 빵집 순례</h2>
        </a>
      </div>

      <div class="navigation">
        <ul class="main_menu flex alc js">
          <li>
            <a href="#">대전 빵집 순례</a>

            <ul class="sub_menu">
              <li><a href="intro.html">대전시 소개</a></li>
              <li><a href="famousBakery.html">대표빵집</a></li>
            </ul>
          </li>
          <li><a href="bakerPick.html">빵드컵</a></li>
          <li><a href="bakeryMap.html">대전 빵지도</a></li>
          <li>
            <a href="#">픽업 주문</a>

            <ul class="sub_menu">
              <li><a href="#">주문하기</a></li>
              <li><a href="#">주문내역</a></li>
            </ul>
          </li>
          <li>
            <a href="#">매장 관리</a>

            <ul class="sub_menu">
              <li><a href="#">기본 정보관리</a></li>
              <li><a href="#">상품 관리</a></li>
              <li><a href="#">주문 관리</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="user_btn">
        <button class="btn">로그인</button>
        <button class="btn">회원가입</button>
      </div>
    </div>
  </header>

    <div class="sub_page_visual">
      <div class="sub_page_title flex alc wrap">
        <h1>대전 빵지도</h1>
      </div>
    </div>

    <div class="sub_section section wrap bakery_map_section">
      <div class="map_section_inner flex js">

        <div class="bakery_map">
          <div class="pin_info"></div>
          <img src="resources/map/map.svg" alt="map" title="map">
        </div>

        <div class="map_button">
          <div>
            <button class="btn" onclick="Modal.open('store_enr')">매장등록</button>
            <button class="btn" onclick="BakeryMap.download(this)" data-type="json">JSON 다운로드</button>
            <button class="btn" onclick="BakeryMap.download(this)" data-type="graph">그래프 다운로드</button>
          </div>
        </div>
      </div>
    </div>  

    <!-- <canvas id="cv" width="800" height="800"></canvas> -->

    <div class="modal">
      <div class="popup" id="map_baker">
        <div class="popup_title flex alc js">
          <h2>매장 정보</h2>

          <div class="popup_close">X</div>
        </div>
        
        <div class="after_line"></div>

        <div class="popup_content popup_bakery">

        </div>
      </div>

      <div class="popup" id="store_enr">
        <div class="popup_title flex alc js">
          <h2>매장 등록</h2>
      
          <div class="popup_close">X</div>
        </div>
      
        <div class="after_line"></div>
      
        <div class="popup_content">
          <div class="baker_enr_form">
            <ul class="baker_input">
              <li><label for="">관리자 아이디</label></li>
              <li><input type="text" class="input" name="admin_id"></li>
              <li><label for="">매장이름</label></li>
              <li><input type="text" class="input" name="name"></li>
              <li><label for="">매장 대표 이미지</label></li>
              <li>
                <select name="image" id="bakery_img" class="input">

                </select>
              </li>
              <li><label for="">매장 위치</label></li>
              <li class="shop_loc"><img src="resources/map/map.svg" alt="map" title="map"></li>
              <li>
                <input type="hidden" name="x">
                <input type="hidden" name="y">
              </li>
              <li><label for="">매장 소개글</label></li>
              <li><input type="text" class="input" name="contents"></li>
              <li><label for="">판매중인 빵</label></li>
              <li class="sale_Bread flex alc js">
                <!-- <div>
                  <input type="checkbox" value="" id="bread_id" name="items">
                  <label for="bread_id">1번 빵</label>
                </div> -->
              </li>
            </ul>
          </div>

          <div class="after_line"></div>

          <button class="btn popup_close">취소</button><button class="btn baker_enr" onclick="BakeryMap.bakerEnr()">등록</button>
        </div>
      </div>
    </div>

  <footer>
    <div class="footer_rap wrap">
      <div class="after_line"></div>

      <div class="foo_content">
        <div class="foo_top flex alc js">

          <div class="logo">
            <a href="#">
              <h2>대전 빵지 순례</h2>
            </a>
          </div>

          <div class="foo_menu flex alc">
            <a href="#">이용 안내</a>
            <a href="#">개인정보 처리방침</a>
          </div>
        </div>

        <div class="foo_bottom">
          <h4>(35242) 대전광역시 서구 둔산로 100 /콜센터 (042) 120 <br>
            COPYRIGHT 2021 (c) DAEJEON METROPOLITAN CITY. ALL RIGHTS RESERVED.
          </h4>
        </div>

      </div>
    </div>
  </footer>

</body>

</html>