<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>빵집 순례</title>
  <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>

  <header>

    <div class="header_top wrap flex alc">
      <a href="#">한국어</a>
      <a href="#">English</a>
      <a href="#">中文(简体))</a>
    </div>

    <div class="header_main wrap flex alc js">
      <div class="logo">
        <a href="index.html">
          <h2>대전 빵집 순례</h2>
        </a>
      </div>

      <div class="navigation">
        <ul class="main_menu flex alc js">
          <li>
            <a href="#">대전 빵집 순례</a>

            <ul class="sub_menu">
              <li><a href="intro.html">대전시 소개</a></li>
              <li><a href="famousBakery.html">대표빵집</a></li>
            </ul>
          </li>
          <li><a href="bakerPick.html">빵드컵</a></li>
          <li><a href="#">대전 빵지도</a></li>
          <li>
            <a href="#">픽업 주문</a>

            <ul class="sub_menu">
              <li><a href="#">주문하기</a></li>
              <li><a href="#">주문내역</a></li>
            </ul>
          </li>
          <li>
            <a href="#">매장 관리</a>

            <ul class="sub_menu">
              <li><a href="#">기본 정보관리</a></li>
              <li><a href="#">상품 관리</a></li>
              <li><a href="#">주문 관리</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="user_btn">
        <button class="btn">로그인</button>
        <button class="btn">회원가입</button>
      </div>
    </div>
  </header>

  <div class="sub_page_visual">
    <div class="sub_page_title flex alc wrap">
      <h1>대표 빵집</h1>
    </div>
  </div>

  <div class="sub_page_section section wrap">
    <div class="sub_section_title">
      <h2>대표 빵집</h2>
    </div>

    <div class="after_line"></div>

    <div class="famous_bakery_list">

      <div class="famous_bakery_item flex">
        <div class="famous_bakery_img">
          <img src="resources/img/성심당2.jpg" alt="famous_bakery" title="famous_bakery">
        </div>

        <div class="famous_bakery_info">
          <h1>대전의 자랑, 대전 은행동 '성심당'</h1>
          <div>
            <p><span class="color">▲위치</span>: 대전 중구 대종로480번길 15</p>
            <p><span class="color">▲영업시간</span>: 월 - 목요일 08:00 - 22:30, 금 - 일요일 08:00 - 23:00</p>
            <p><span class="color">▲가격</span>: 튀김소보로 1,500원, 판타롱부추빵 1,800원</p>
            <p><span class="color">▲위치</span>: 대전 중구 대종로480번길 15</p>
            <p><span class="color">▲후기</span>(식신 EH): 역사와 전통 그리고 맛이 있는 곳. 늘 사람들로 인산인해. <br> 대전 갔다 오면 한 손에는 성심당 빵 박스는 기본. 대전에서만 운영하며 튀김소보로, 부추소보로, 고구마소보로 유명. <br> 본점에서 구매 못
            할 경우 대전역에서도 구매 가능. 그 외 다른 빵도 맛있어 보임. 시즌 메뉴도 판매.</p>
          </div>
        </div>
      </div>

      <div class="after_line"></div>

      <div class="famous_bakery_item flex">
        <div class="famous_bakery_img">
          <img src="resources/img/아빠의꿈.jpg" alt="famous_bakery" title="famous_bakery">
        </div>
      
        <div class="famous_bakery_info">
          <h1>아버지의 마음을 담아 만든 빵, 대전 신성동 '아빠의 꿈'</h1>
          <div>
            <p><span class="color">▲위치</span>: 대전 유성구 신성남로 57</p>
            <p><span class="color">▲영업시간</span>: 화 - 토요일 09:30 - 22:00, 일요일 09:30 - 20:00, 월요일 휴무</p>
            <p><span class="color">▲가격</span>: 튀김소보로 1,500원, 판타롱부추빵 1,800원</p>
            <p><span class="color">▲가격</span>: 검은콩앙금빵 2,000원, 씨앗호떡 2,000원</p>
            <p><span class="color">▲후기</span>(식신 jameee): 빵들이 다 담백 고소~ 다른 프랜차이즈들의 자극적인 빵이 아니라 건강한 맛의 빵들 밀가루보다 속이 더 가득>_<!</p>
          </div>
        </div>
      </div>
      
      <div class="after_line"></div>

      <div class="famous_bakery_item flex">
        <div class="famous_bakery_img">
          <img src="resources/img/꾸드뱅.jpg" alt="famous_bakery" title="famous_bakery">
        </div>
      
        <div class="famous_bakery_info">
          <h1>대전에서 만나는 프랑스 빵, 대전 지족동 '꾸드뱅'</h1>
          <div>
            <p><span class="color">▲위치</span>: 대전 유성구 지족동로 146</p>
            <p><span class="color">▲영업시간</span>: 매일 09:00 - 23:00</p>
            <p><span class="color">▲가격</span>: 플레인크로와상 2,800원, 바닐라크로와상 3,800원</p>
            <p><span class="color">▲위치</span>: 대전 중구 대종로480번길 15</p>
            <p><span class="color">▲후기</span>(식신 지와니): 다른 빵집에서 느낄 수 없는 신선함이 느껴지네요~</p>
          </div>
        </div>
      </div>
      
      <div class="after_line"></div>

      <div class="famous_bakery_item flex">
        <div class="famous_bakery_img">
          <img src="resources/img/콜마르브레드2.jpg" alt="famous_bakery" title="famous_bakery">
        </div>
      
        <div class="famous_bakery_info">
          <h1>천연 효모로 만드는 건강 빵집, 대전 어은동 '콜마르브레드'</h1>
          <div>
            <p><span class="color">▲위치</span>: 대전 유성구 죽동로297번길 12</p>
            <p><span class="color">▲영업시간</span>: 매일 08:00 - 22:30</p>
            <p><span class="color">▲가격</span>: 버터프레첼 3,500원, 치즈누룽지 3,200원</p>
            <p><span class="color">▲위치</span>: 대전 중구 대종로480번길 15</p>
            <p><span class="color">▲후기</span>(식신 힙통령): 대전에 있는 방집은 다 찾아다닐 정도로 빵을 좋아해요. <br> 대전 빵집 중에서 손꼽히는 곳입니다. 치즈누룽지랑 건강빵 종류 먹었는데 다 맛있어요.</p>
          </div>
        </div>
      </div>
      
      <div class="after_line"></div>
    </div>
  </div>

  <footer>
    <div class="footer_rap wrap">
      <div class="after_line"></div>

      <div class="foo_content">
        <div class="foo_top flex alc js">

          <div class="logo">
            <a href="#">
              <h2>대전 빵지 순례</h2>
            </a>
          </div>

          <div class="foo_menu flex alc">
            <a href="#">이용 안내</a>
            <a href="#">개인정보 처리방침</a>
          </div>
        </div>

        <div class="foo_bottom">
          <h4>(35242) 대전광역시 서구 둔산로 100 /콜센터 (042) 120 <br>
            COPYRIGHT 2021 (c) DAEJEON METROPOLITAN CITY. ALL RIGHTS RESERVED.
          </h4>
        </div>

      </div>
    </div>
  </footer>

</body>

</html>