<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>빵집 순례</title>
  <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>

  <header>
    
    <div class="header_top wrap flex alc">
      <a href="#">한국어</a>
      <a href="#">English</a>
      <a href="#">中文(简体))</a>
    </div>

    <div class="header_main wrap flex alc js">
      <div class="logo">
        <a href="index.html">
          <h2>대전 빵집 순례</h2>
        </a>
      </div>

      <div class="navigation">
        <ul class="main_menu flex alc js">
          <li>
            <a href="#">대전 빵집 순례</a>

            <ul class="sub_menu">
              <li><a href="intro.html">대전시 소개</a></li>
              <li><a href="famousBakery.html">대표빵집</a></li> 
            </ul>
          </li>
          <li><a href="bakerPick.html">빵드컵</a></li>
          <li><a href="bakeryMap.html">대전 빵지도</a></li>
          <li>
            <a href="#">픽업 주문</a>

            <ul class="sub_menu">
              <li><a href="#">주문하기</a></li>
              <li><a href="#">주문내역</a></li>
            </ul>
          </li>
          <li>
            <a href="#">매장 관리</a>
            
            <ul class="sub_menu">
              <li><a href="#">기본 정보관리</a></li>
              <li><a href="#">상품 관리</a></li>
              <li><a href="#">주문 관리</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="user_btn">
        <button class="btn">로그인</button>
        <button class="btn">회원가입</button>
      </div>
    </div>
  </header>

  <div class="visual_section section">
    <div class="visual_title wrap">
      <h2>비주얼 이미지</h2>
    </div>

    <div class="visual_text">
      <h3>
        2019~2021 <br><span class="color ts">대전 방문의 해</span>
        <br>
        다양한 빵들과 즐거운 맛의 <br> 행복을 즐겨보세요.
      </h3>

      <h4><span class="color ts">'2019~2021 대전 방문의 해' 대전으로 오세요.</span></h4>

      <div class="text_box_mid flex alc js">
        <div class="box_line"></div>
        <p class="color ts">대전 빵집 순례</p>
      </div>

      <button class="btn">자세히 보기</button>
    </div>

    <div class="visual_slide">
      <div class="slide_wrap">
        <div><img src="resources/img/성심당 비주얼.png" alt="visual" title="visual"></div>
        <div><img src="resources/img/visual05.jpg" alt="visual" title="visual"></div>
      </div>
    </div>
  </div>

  <div class="bakery_recommend_section section wrap">
    <div class="section_title flex alc">
      <div>
        <p class="main_title">추천<span class="color"> 빵집</span> | <span class="main_title_left">꾸준히 사랑받는 추천 빵집!</span></p>
        <p></p>
        <a href="#" style="text-decoration: underline; color: #ff8400;">더보기</a>
      </div>
    </div>

    <div class="recom_bakery_list">
      <div class="recom_bakery">
        <div class="bakery_info flex alc jc">
          <div class="tlc">
            <h1>성심당</h1>
            <h3>대전의 추천 빵집!</h3>
            <button class="btn">더보기</button>
          </div>
        </div>

        <div class="bakery_img">
          <img src="resources/img/성심당.jpg" alt="bakery" title="bakery">
        </div>
      </div>

      <div class="recom_bakery">
        <div class="bakery_info flex alc jc">
          <div class="tlc">
            <h1>아빠의 꿈</h1>
            <h3>대전의 추천 빵집!</h3>
            <button class="btn">더보기</button>
          </div>
        </div>
      
        <div class="bakery_img">
          <img src="resources/img/아빠의꿈.jpg" alt="bakery" title="bakery">
        </div>
      </div>

      <div class="recom_bakery">
        <div class="bakery_info flex alc jc">
          <div class="tlc">
            <h1>꾸드뱅</h1>
            <h3>대전의 추천 빵집!</h3>
            <button class="btn">더보기</button>
          </div>
        </div>
      
        <div class="bakery_img">
          <img src="resources/img/꾸드뱅.jpg" alt="bakery" title="bakery">
        </div>
      </div>

      <div class="recom_bakery">
        <div class="bakery_info flex alc jc">
          <div class="tlc">
            <h1>콜마르브레드</h1>
            <h3>대전의 추천 빵집!</h3>
            <button class="btn">더보기</button>
          </div>
        </div>
      
        <div class="bakery_img">
          <img src="resources/img/콜마르브레드2.jpg" alt="bakery" title="bakery">
        </div>
      </div>

      <div class="recom_bakery">
        <div class="bakery_info flex alc jc">
          <div class="tlc">
            <h1>파이한모금</h1>
            <h3>대전의 추천 빵집!</h3>
            <button class="btn">더보기</button>
          </div>
        </div>
      
        <div class="bakery_img">
          <img src="resources/img/파이한모금.jpg" alt="bakery" title="bakery">
        </div>
      </div>
    </div>
  </div>

  <div class="recom_bread_section section wrap">
    <div class="section_title flex alc">
      <div>
        <p class="main_title">추천 <span class="color">빵</span> | <span class="main_title_left">많은 사람들이 추천하는 빵!</span></p>
      </div>
    </div>

    <div class="recom_bread_list">
      <div class="recom_bread">
        <div class="rec_bread_img">
          <img src="resources/img/보문산 메아리.jpg" alt="bread" title="bread">
        </div>

        <div class="rec_bread_info">
          <h2>보문산 메아리</h2>
          <p class="intro">숲속의 산책 달콤한 오후의 [보문산메아리] 보문산메아리는 촉촉한 페스츄리가 돌돌말려 메아리가 되었어요.</p>
          <p class="rec_pri">4,500원</p>
        </div>
      </div>

      <div class="recom_bread">
        <div class="rec_bread_img">
          <img src="resources/img/튀김소보로.png" alt="bread" title="bread">
        </div>
      
        <div class="rec_bread_info">
          <h2>튀김소보로</h2>
          <p class="intro">1980년 탄생 소보로, 앙금빵, 도넛의 3단 합체빵. 하나의 빵으로 3가지 맛을 즐기실 수 있는 No.1 튀김소보로</p>
          <p class="rec_pri">4,500원</p>
        </div>
      </div>

      <div class="recom_bread">
        <div class="rec_bread_img">
          <img src="resources/img/명량바게트.png" alt="bread" title="bread">
        </div>
      
        <div class="rec_bread_info">
          <h2>명량바게트</h2>
          <p class="intro">빠삭 짭쪼롬 씹을수록 고소하고 짭쪼롬한 명란과 쫄깃 꼬소한 바게트가 만나 먹을수록 손이 가는 빠사삭 명란바게트</p>
          <p class="rec_pri">4,500원</p>
        </div>
      </div>

      <div class="recom_bread">
        <div class="rec_bread_img">
          <img src="resources/img/단팥빵.png" alt="bread" title="bread">
        </div>
      
        <div class="rec_bread_info">
          <h2>단팥빵</h2>
          <p class="intro">달콤한 통팥앙금에 살짝살짝 십히는 호두와 톡톡한 밤 알갱이가 포인트인 매력만점 단팥빵은 남녀노소 불문하고 사랑받는 앙꼬빵</p>
          <p class="rec_pri">4,500원</p>
        </div>
      </div>
    </div>
  </div>

  <div class="notice_section section wrap">
    <div class="section_title flex alc">
      <div>
        <p class="main_title"><span class="color">공지사항</span> | <span class="main_title_left">대전 빵지 순례에서 알려드립니다!</span></p>
      </div>
    </div>

    <div class="after_line"></div>
    <div class="notice_box">
      <div class="notice_list">

        <div class="notice_item">
          <h4 class="notice_type">공지사항</h4>
          <h1>대전 빵집 순례 홈페이지가 오픈하였습니다.</h1>
          <p>대전 빵집 순례 홈페이지가 오픈하였습니다.</p>
          <h3>2021-10-10</h3>  

          <div class="after_line"></div>
        </div>

        <div class="notice_item">
          <h4 class="notice_type">공지사항</h4>
          <h1>버그 제보는 여기로 부탁드립니다.</h1>
          <p>버그 제보는 여기로 부탁드립니다.</p>
          <h3>2021-10-05</h3>
        
          <div class="after_line"></div>
        </div>

        <div class="notice_item">
          <h4 class="notice_type">공지사항</h4>
          <h1>입점 문의는 여기로 부탁드립니다.</h1>
          <p>입점 문의는 여기로 부탁드립니다.</p>
          <h3>2021-10-05</h3>
        
          <div class="after_line"></div>
        </div>
      </div>

      <div class="notice_img">
        <img src="resources/img/1541397685841286.jpg" alt="공지" title="공지">
      </div>
    </div>
  </div>

  <footer>
    <div class="footer_rap wrap">
      <div class="after_line"></div>

      <div class="foo_content">
        <div class="foo_top flex alc js">

          <div class="logo">
            <a href="#">
              <h2>대전 빵지 순례</h2>
            </a>
          </div>

          <div class="foo_menu flex alc">
            <a href="#">이용 안내</a>
            <a href="#">개인정보 처리방침</a>
          </div>
        </div>

        <div class="foo_bottom">
          <h4>(35242) 대전광역시 서구 둔산로 100 /콜센터 (042) 120 <br>
          COPYRIGHT 2021 (c) DAEJEON METROPOLITAN CITY. ALL RIGHTS RESERVED.
</h4>
        </div>

      </div>
    </div>
  </footer>
  
</body>
</html>