<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>빵집 순례</title>
  <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>

  <header>

    <div class="header_top wrap flex alc">
      <a href="#">한국어</a>
      <a href="#">English</a>
      <a href="#">中文(简体))</a>
    </div>

    <div class="header_main wrap flex alc js">
      <div class="logo">
        <a href="index.html">
          <h2>대전 빵집 순례</h2>
        </a>
      </div>

      <div class="navigation">
        <ul class="main_menu flex alc js">
          <li>
            <a href="#">대전 빵집 순례</a>
          
            <ul class="sub_menu">
              <li><a href="intro.html">대전시 소개</a></li>
              <li><a href="famousBakery.html">대표빵집</a></li>
            </ul>
          </li>
          <li><a href="bakerPick.html">빵드컵</a></li>
          <li><a href="bakeryMap.html">대전 빵지도</a></li>
          <li>
            <a href="#">픽업 주문</a>

            <ul class="sub_menu">
              <li><a href="#">주문하기</a></li>
              <li><a href="#">주문내역</a></li>
            </ul>
          </li>
          <li>
            <a href="#">매장 관리</a>

            <ul class="sub_menu">
              <li><a href="#">기본 정보관리</a></li>
              <li><a href="#">상품 관리</a></li>
              <li><a href="#">주문 관리</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="user_btn">
        <button class="btn">로그인</button>
        <button class="btn">회원가입</button>
      </div>
    </div>
  </header>

  <div class="sub_page_visual">
    <div class="sub_page_title flex alc wrap">
      <h1>대전시 소개</h1>
    </div>
  </div>

  <div class="sub_page_section section wrap">

    <div class="intro_section_title tlc">
      <h2>대전시 소개</h2>
      <div>
        <img src="resources/img/슬로건.jpg" alt="banner" title="banner">
      </div>
    </div>

    <div class="city_intro flex alc js">
      <div class="intro_title">
        <h1>대한민국의 중심축 대전</h1>
      </div>

      <div class="intro_content">
        <p>충청도 중남부에 자리한 광역자치단체. 충청권 제1의 도시로 중부지방과 영·호남을 잇는 교통의 요지이자 <br> 대덕연구개발특구(대덕연구단지), 
          국제과학비즈니스벨트가 조성된 한국 최대의 과학·연구도시이다.</p>
          <br>
        <p>그와 동시에 관세청, 특허청, 통계청, 조달청, 문화재청, 산림청, 병무청, 국가기록원, 특허심판원 등 정부대전청사와 <br> 다수의 국가기관 본사가 자리한 행정도시이다.</p>
        <br>
        <p>또 3군 본부와 인접해 있고, 육군대학,
        국방과학연구소, 해군대학, 공군대학, <br> 국군의학연구소, 국방정신전력원, 국군대전병원, 국군간호사관학교, 육군군수사령부, 육군교육사령부, 국군의무학교, <br> 합동군사대학교 등이 모여있는 자운대와 육군군수사령부가 자리해
        군사도시의 기능도 수행하고 있다.</p>
      </div>
    </div>

    <div class="city_intro flex alc js">
      <div class="intro_title">
        <h1>대한민국의 중심축 대전</h1>
      </div>
    
      <div class="intro_content">
        <p>세종특별자치시·공주·논산·계룡·금산과 더불어 충청북도 소속인 청주·옥천 등을 아울러 대전권으로 두고 있다. <br> 
          대전의 지리적 특성상 전국의 웬만한 곳은 자동차로 2시간~3시간 이내로 도착이 가능하고,</p>
        <br>
        <p>청주국제공항이 대전광역시청 기준 약 50분 거리에 있다. <br> 대전권 자체는 이웃 세종특별자치시의 발전으로 차후 대한민국에서 손꼽히는 광역도시권이 될 가능성이 있다.</p>
        <br>
        <p>하지만, 2020년 지금 세종특별자치시가 독자적인 자족도시로서의 발전보다는 <br> 대전광역시의 베드타운으로서 발전하고 있는 양상을 볼 때, 대전광역시 자체의 쇠퇴를 이야기하기에는 무리가 있다. </p>
      </div>
    </div>
  </div>
 
 <footer>
    <div class="footer_rap wrap">
      <div class="after_line"></div>

      <div class="foo_content">
        <div class="foo_top flex alc js">

          <div class="logo">
            <a href="#">
              <h2>대전 빵지 순례</h2>
            </a>
          </div>

          <div class="foo_menu flex alc">
            <a href="#">이용 안내</a>
            <a href="#">개인정보 처리방침</a>
          </div>
        </div>

        <div class="foo_bottom">
          <h4>(35242) 대전광역시 서구 둔산로 100 /콜센터 (042) 120 <br>
          COPYRIGHT 2021 (c) DAEJEON METROPOLITAN CITY. ALL RIGHTS RESERVED.
</h4>
        </div>

      </div>
    </div>
  </footer>
  
</body>
</html>