<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body class="teaser_page">

   <footer>
     <div class="foo_rap wrap">
       <div class="after_line"></div>

       <div class="logo">
         <a href="#">
           <img src="../../resources/logo.png" alt="logo" title="logo">
         </a>
       </div>

       <div class="foo_bot flex alc js">
         <p class="copy">
           부산국제매직페스티벌 | Busan International Magic Festival <br>
           부산시 해운대구 123 <br>
           TEL : 123-456-7890 | FAX : 098-765-4321 | E-mail : webskills@skills.com <br>
           <br>
           Copyrightⓒ 2019, webskills all right reserved
          </p>

          <div class="sns_icons">
            <img src="../../resources/img/facebook.png" alt="sns" title="sns">
            <img src="../../resources/img/kakao.png" alt="sns" title="sns">
            <img src="../../resources/img/twitter.png" alt="sns" title="sns">
          </div>
        </div>
      </div>
   </footer>

</body>
</html>