<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body class="teaser_page">

  <div class="feature_section wrap">
    <div class="feature_back">
      <img src="../../resources/img/visual/6.jpg" alt="feature" title="feature">
    </div>

    <div class="section_title teasure_title">
      <h1>
        <span class="color">Features</span>
      </h1>
      <h2>Features</h2>
    </div>

    <div class="feature_content flex alc js">
      <div class="feature_item feature_item_2 tlc">
        <div class="feature_item_title flex alc jc">
          <div class="icon_box icon_box_1">
            <img src="../../resources/img/features/icon.jpg" alt="feature" title="feature">
          </div>
        </div>

        <h1>Lorem ipsum1</h1>

        <div class="feature_item_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam officia aspernatur nisi ut eligendi consectetur voluptate, <br>
          fuga magni quasi. Nisi ratione veniam id illum, facere reiciendis assumenda quis quod maxime!</p>
        </div>

        <div class="after_line"></div>

        <h2 class="link"><a href="#">Read More</a></h2>
      </div>

      <div class="feature_item feature_item_2 tlc">
        <div class="feature_item_title flex alc jc">
          <div class="icon_box icon_box_2">
            <img src="../../resources/img/features/icon.jpg" alt="feature" title="feature">
          </div>
        </div>

        <h1>Lorem ipsum1</h1>

        <div class="feature_item_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam officia aspernatur nisi ut eligendi consectetur voluptate, <br>
          fuga magni quasi. Nisi ratione veniam id illum, facere reiciendis assumenda quis quod maxime!</p>
        </div>

        <div class="after_line"></div>

        <h2 class="link"><a href="#">Read More</a></h2>
      </div>

      <div class="feature_item feature_item_2 tlc">
        <div class="feature_item_title flex alc jc">
          <div class="icon_box icon_box_3">
            <img src="../../resources/img/features/icon.jpg" alt="feature" title="feature">
          </div>
        </div>

        <h1>Lorem ipsum1</h1>

        <div class="feature_item_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam officia aspernatur nisi ut eligendi consectetur voluptate, <br>
          fuga magni quasi. Nisi ratione veniam id illum, facere reiciendis assumenda quis quod maxime!</p>
        </div>

        <div class="after_line"></div>

        <h2 class="link"><a href="#">Read More</a></h2>
      </div>
      <div class="feature_item feature_item_2 tlc">
        <div class="feature_item_title flex alc jc">
          <div class="icon_box icon_box_4">
            <img src="../../resources/img/features/icon.jpg" alt="feature" title="feature">
          </div>
        </div>
      
        <h1>Lorem ipsum1</h1>
      
        <div class="feature_item_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam officia aspernatur nisi ut eligendi consectetur
            voluptate, <br>
            fuga magni quasi. Nisi ratione veniam id illum, facere reiciendis assumenda quis quod maxime!</p>
        </div>
      
        <div class="after_line"></div>
      
        <h2 class="link"><a href="#">Read More</a></h2>
      </div>
    </div>
  </div>

</body>
</html>