<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body class="teaser_page">

  <div class="gallery_section wrap">
    <div class="feature_back">
      <img src="../../resources/img/gallery/20.jpg" alt="feature" title="feature">
    </div>

    <div class="section_title teasure_title">
      <h1>
        <span class="color">Gallery&Slider</span>
      </h1>
      <h2>Gallery&Slider</h2>
    </div>

    <div class="gallery_slide">
      <input type="radio" name="gal_slide" id="gal_1" hidden>
      <input type="radio" name="gal_slide" id="gal_2" hidden checked>
      <input type="radio" name="gal_slide" id="gal_3" hidden>
      <input type="radio" name="gal_slide" id="gal_4" hidden>
      <input type="radio" name="gal_modal" id="gal_modal_close" hidden checked>

      <div class="slide_control">
        <div class="flex alc js">
          <label for="gal_1">이전</label>
          <label for="gal_3">다음</label>
        </div>
        <div class="flex alc js">
          <label for="gal_2">이전</label>
          <label for="gal_4">다음</label>
        </div>
        <div class="flex alc js">
          <label for="gal_3">이전</label>
          <label for="gal_1">다음</label>
        </div>
      </div>

      <div class="gal_modal">
        <div>
          <input type="radio" name="gal_modal" class="modal_open" id="gal_modal_1" hidden>
          <div class="g_modal_1 gmodal">
            <div>
              <label for="gal_modal_close">X</label>
              <img src="../../resources/img/gallery/2.jpg" alt="modal" title="modal">
            </div>
          </div>
        </div>
        <div>
          <input type="radio" name="gal_modal" class="modal_open" id="gal_modal_2" hidden>
          <div class="g_modal_2 gmodal">
            <div>
              <label for="gal_modal_close">X</label>
              <img src="../../resources/img/gallery/32.jpg" alt="modal" title="modal">
            </div>
          </div>
        </div>
        <div>
          <input type="radio" name="gal_modal" class="modal_open" id="gal_modal_3" hidden>
          <div class="g_modal_3 gmodal">
            <div>
              <label for="gal_modal_close">X</label>
              <img src="../../resources/img/gallery/4.jpg" alt="modal" title="modal">
            </div>
          </div>
        </div><div>
          <input type="radio" name="gal_modal" class="modal_open" id="gal_modal_4" hidden>
          <div class="g_modal_4 gmodal">
            <div>
              <label for="gal_modal_close">X</label>
              <img src="../../resources/img/gallery/10.jpg" alt="modal" title="modal">
            </div>
          </div>
        </div><div>
          <input type="radio" name="gal_modal" class="modal_open" id="gal_modal_5" hidden>
          <div class="g_modal_5 gmodal">
            <div>
              <label for="gal_modal_close">X</label>
              <img src="../../resources/img/gallery/5.jpg" alt="modal" title="modal">
            </div>
          </div>
        </div><div>
          <input type="radio" name="gal_modal" class="modal_open" id="gal_modal_6" hidden>
          <div class="g_modal_6 gmodal">
            <div>
              <label for="gal_modal_close">X</label>
              <img src="../../resources/img/gallery/30.jpg" alt="modal" title="modal">
            </div>
          </div>
        </div>
      </div>
      
      <div class="gal_slide">

        <div class="gal_item_list">
          <div class="gal_item">
            <div class="gal_img">
              <label for="gal_modal_1">
                <img src="../../resources/img/gallery/2.jpg" alt="modal" title="modal">
              </label>
            </div>

            <div class="gal_item_cont">
              <h2>Lorem ipsum1</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>Tempore harum laborum eos nisi rerum ad aspernatur explicabo. Obcaecati commodi ipsa, corporis, dolores saepe
              exercitationem perspiciatis esse quos totam autem iure.</p>
            </div>
          </div>

          <div class="gal_item">
            <div class="gal_img">
              <label for="gal_modal_2">
                <img src="../../resources/img/gallery/32.jpg" alt="modal" title="modal">
              </label>
            </div>
          
            <div class="gal_item_cont">
              <h2>Lorem ipsum2</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>Illo veniam quis praesentium alias reprehenderit modi unde amet, non, atque quo impedit laborum, tempora porro
              voluptates pariatur! Facilis neque, a sed.</p>
            </div>
          </div>

          <div class="gal_item">
            <div class="gal_img">
              <label for="gal_modal_3">
                <img src="../../resources/img/gallery/4.jpg" alt="modal" title="modal">
              </label>
            </div>
          
            <div class="gal_item_cont">
              <h2>Lorem ipsum3</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>Nisi quos dolore, nemo unde, deserunt voluptate amet alias officia sequi eveniet autem ullam hic. Dignissimos mollitia
              soluta illum repellendus, ducimus nisi.</p>
            </div>
          </div>

          <div class="gal_item">
            <div class="gal_img">
              <label for="gal_modal_4">
                <img src="../../resources/img/gallery/10.jpg" alt="modal" title="modal">
              </label>
            </div>
          
            <div class="gal_item_cont">
              <h2>Lorem ipsum4</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>Ex aperiam sed harum nesciunt temporibus, iusto error dicta quis neque aut, incidunt nobis quia tempore! Magnam libero
              fugit dolorum sit nesciunt?</p>
            </div>
          </div>

          <div class="gal_item">
            <div class="gal_img">
              <label for="gal_modal_5">
                <img src="../../resources/img/gallery/5.jpg" alt="modal" title="modal">
              </label>
            </div>
          
            <div class="gal_item_cont">
              <h2>Lorem ipsum5</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>architecto laudantium illum itaque fuga temporibus, error commodi delectus recusandae ipsa ab labore. Molestiae
              blanditiis culpa eum dolores! Voluptate, quia labore.</p>
            </div>
          </div>

          <div class="gal_item">
            <div class="gal_img">
              <label for="gal_modal_6">
                <img src="../../resources/img/gallery/30.jpg" alt="modal" title="modal">
              </label>
            </div>
          
            <div class="gal_item_cont">
              <h2>Lorem ipsum6</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>Nobis delectus tempore id voluptas aliquam quisquam suscipit. Aliquid enim labore, et reprehenderit rem iure ad esse
              ullam eaque est dolores placeat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>